@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-arc6-dark-gray;
    background-color: transparent; /* Assurer la transparence pour le slot de fond */
  }
  h1 {
    @apply font-lexend;
  }
  h2 {
    @apply font-arvo;
  }
}

@layer components {
  /* Animation de soulignement pour les liens de navigation */
  nav ul li a span {
    @apply relative;
  }
  nav ul li a span::after {
    content: '';
    @apply absolute -bottom-1 left-0 h-[2px] w-0 bg-white transition-all duration-300 ease-out;
  }
  nav ul li a:hover span::after {
    @apply w-full;
  }
}

@layer utilities {
  @keyframes fadeInSlideUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .animate-fade-in-slide-up {
    animation: fadeInSlideUp 0.8s ease-out forwards;
    opacity: 0; /* Start hidden */
  }
}

