---
import '../styles/global.css';
import Logo from '../components/Logo.astro';

interface Props {
	title?: string;
}

const { title = 'Mon Site Vitrine' } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lexend+Deca:wght@400;700&family=Padauk:wght@400;700&display=swap" rel="stylesheet">
		<title>{title}</title>
	</head>
	<body class="min-h-screen flex flex-col">
		<nav class="bg-arc6-dark-gray p-4">
			<div class="container mx-auto flex justify-between items-center">
				<a href="/" class="flex items-center">
					<Logo class="h-12 text-arc6-blue" />
				</a>
				<ul class="flex space-x-4">
					<li><a href="/" class="text-arc6-blue hover:text-white">Accueil</a></li>
					<li><a href="/about" class="text-arc6-blue hover:text-white">À Propos</a></li>
					<li><a href="/services" class="text-arc6-blue hover:text-white">Services</a></li>
					<li><a href="/contact" class="text-arc6-blue hover:text-white">Contact</a></li>
				</ul>
			</div>
		</nav>
		<slot />
	</body>
</html>
